# Node modules
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Hardhat artifacts and cache
artifacts/
cache/
typechain/
coverage/
coverage.json

# Hardhat temporary files
*.tsbuildinfo

# Mac system files
.DS_Store

# React build output
frontend/build/

# Editor folders
.vscode/
.idea/

# Dependency lock files (optional based on team preferences)
# package-lock.json
# yarn.lock
